<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1041290763329-kgm58191k7c0c37tjid0fft1ckfs2h7m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1041290763329-kgm58191k7c0c37tjid0fft1ckfs2h7m</string>
	<key>API_KEY</key>
	<string>AIzaSyC50ZVP6B-KqbPzwbUJJcrgDVpWiWTjdRw</string>
	<key>GCM_SENDER_ID</key>
	<string>1041290763329</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nopal.Owl-Onboarding</string>
	<key>PROJECT_ID</key>
	<string>owl-signup</string>
	<key>STORAGE_BUCKET</key>
	<string>owl-signup.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1041290763329:ios:7a2c2ebfe8c2da059cbac0</string>
	<key>DATABASE_URL</key>
	<string>https://owl-signup.firebaseio.com</string>
</dict>
</plist>